include LICENSE.txt
include requirements.txt
include qiskit_optimization/py.typed
recursive-include qiskit_optimization *.txt
graft test
prune docs
prune tools
prune tutorials
global-exclude *.py[co] .DS_Store
